{:paths     ["src" "test"]
 :deps      {cljs-ajax/cljs-ajax        {:mvn/version "0.8.3"}
             day8.re-frame/http-fx      {:mvn/version "0.2.3"}
             day8.re-frame/re-frame-10x {:mvn/version "1.0.2"}
             org.clojure/clojure        {:mvn/version "1.10.3"}
             org.clojure/clojurescript  {:mvn/version "1.10.844"}
             re-frame/re-frame          {:mvn/version "1.2.0"}
             reagent/reagent            {:mvn/version "1.0.0"}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :aliases   {:test       {:extra-paths ["test"]
                          :extra-deps  {lambdaisland/kaocha           {:mvn/version "1.0.829"}
                                        lambdaisland/kaocha-cljs      {:mvn/version "0.0-71"}
                                        day8.re-frame/test            {:mvn/version "0.1.5"}}
                          :main-opts   ["-m" "kaocha.runner"]}
             :watch      {:main-opts  ["-m" "shadow.cljs.devtools.cli" "watch" ":app"]
                          :extra-deps {thheller/shadow-cljs {:mvn/version "2.12.5"}}}
             :uberjar    {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
                          :exec-fn      hf.depstar/uberjar
                          :exec-args    {:main-class cljs-webshop.core
                                         :verbose    true
                                         :jar        "target/standalone.jar"}}
             :kibit      {:extra-deps {jonase/kibit {:mvn/version "RELEASE"}}
                          :main-opts  ["-e" "(require,'[kibit.driver,:as,k]),(k/external-run,[\"src\"],nil)"]}
             :antq       {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                          :main-opts  ["-m" "antq.core"]}
             :cljfmt     {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
                          :main-opts  ["-m" "cljfmt.main"]}
             :eastwood   {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
                          :main-opts  ["-m" "eastwood.lint" "{:parallel?,:naive,:source-paths,[\"src\"]}"]}
             :run-server {:main-opts ["-m" "cljs-webshop.core"]}}}