#kaocha/v1
    {
     :tests          [{:id           :unit-cljs
                       :type         :kaocha.type/cljs}]
     :color?         true
     :watch?         false
     :reporter       kaocha.report/documentation}
