/*body {*/
/*    background-color: #051428;*/
/*    margin: 2em;*/
/*}*/

/*h1 {*/
/*    !*color: #05DCC8;*!*/
/*    color: #d7dbe0;*/
/*}*/


/*.btn-success {*/
/*    background-color: #AFDC64;*/
/*    border-color: #73a028;*/
/*}*/

/*.btn-danger {*/
/*    background-color: #FF5A78;*/
/*    border-color: #c31e3c;*/
/*}*/

/*.btn-warning {*/
/*    background-color: #F58C6E;*/
/*    border-color: #b95046;*/
/*}*/

/*.text-warning {*/
/*    color: #FF5A78 !important;*/
/*}*/

.card-body, .table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #0b2942;
}

.card-header {
    background-color: #6f8da6;
}

.center {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}

.count-input {
    float: right;
    margin-top: 0.7em;
}

.count-input .input-number {
    text-align: center;
    width: 5em;
}

.amount-btn {
    font-weight: 900;
    color: white;
    font-size: 1.5em;
    line-height: 1em;
    width: 2em;
}

div.card.mb-3 {
    max-width: 31%;
    margin: 0.5rem;
}

div.card.mb-3 img.big {
    width: 100%;
    display: block;
}

div.card.mb-3 img.small {
    height: 4em;
    float: left;
}

.co-img {
    height: 2em
}

.co-btn {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 20;
}

.co-btn-img {
    margin-right: 0.5em;
    filter: invert(100%);
    height: 1em;
}

.buy-more-btn {
    float: right
}

.buy-more-btn-img {
    margin-right: 0.5em;
    filter: invert(100%);
    height: 1em;
}

/* SPINNER */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #444 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#article-row {
    margin: 0;
    padding: 0em 2em;
    max-width: 1200px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.floater {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 20;
}

.floater .alert strong {
    margin-right: 0.5em;
}